<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<packageSources>
		<clear />
		<add key="nuget.org" value="https://api.nuget.org/v3/index.json" protocolVersion="3" />
		<add key="spydersoft" value="https://nuget.pkg.github.com/spydersoft-consulting/index.json" protocolVersion="3" />
	</packageSources>
	<packageSourceMapping>
		<packageSource key="nuget.org">
			<package pattern="*" />
		</packageSource>
		<packageSource key="spydersoft">
			<package pattern="Spydersoft.*" />
		</packageSource>
	</packageSourceMapping>
</configuration>
